{% extends 'base.html' %}

{% block content %}
<!-- Flashed Messages to User -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type = 'button' class="close" data-dismiss = 'alert'>&times;</button>
                    </div>
                {% endif %}
                {% if cat == 'auth-failed' %}
                <div class="alert alert-danger">
                    {{ msg }}
                    <button type = 'button' class="close" data-dismiss = 'alert'>&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<h1>Sign In Here </h1>

<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Log In To Your Account</h2>
            {% include 'forms.html' %}
        </aside>
        <aside class="col-12 col-md-6" id="signin-aside">

        </aside>
    </div>
</main>

{% endblock content %}